<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">

  <link th:href="@{bootstrap-5.0.2-dist/css/bootstrap.css}" rel="stylesheet"/>
  <link th:href="@{bootstrap-5.0.2-dist/css/bootstrap.min.css}" rel="stylesheet"/>
  <link th:href="@{bootstrap-5.0.2-dist/css/bootstrap.css.map}" rel="stylesheet"/>
  <link th:href="@{bootstrap-5.0.2-dist/css/bootstrap.min.css.map}" rel="stylesheet"/>
  <link th:href="@{bootstrap-5.0.2-dist/css/bootstrap.rtl.css}" rel="stylesheet"/>
  <link th:href="@{bootstrap-5.0.2-dist/css/bootstrap.rtl.css.map}" rel="stylesheet"/>
  <link th:href="@{bootstrap-5.0.2-dist/css/bootstrap.rtl.min.css}" rel="stylesheet"/>
  <link th:href="@{bootstrap-5.0.2-dist/css/bootstrap.rtl.min.css.map}" rel="stylesheet"/>
  <link th:href="@{bootstrap-5.0.2-dist/css/bootstrap-grid.css}" rel="stylesheet"/>
  <link th:href="@{bootstrap-5.0.2-dist/css/bootstrap-grid.css.map}" rel="stylesheet"/>
  <link th:href="@{bootstrap-5.0.2-dist/css/bootstrap-grid.min.css}" rel="stylesheet"/>
  <link th:href="@{bootstrap-5.0.2-dist/css/bootstrap-grid.min.css.map}" rel="stylesheet"/>
  <link th:href="@{bootstrap-5.0.2-dist/css/bootstrap-grid.rtl.min.css}" rel="stylesheet"/>
  <link th:href="@{bootstrap-5.0.2-dist/css/bootstrap-grid.rtl.min.css.map}" rel="stylesheet"/>
  <link th:href="@{bootstrap-5.0.2-dist/css/bootstrap-reboot.css}" rel="stylesheet"/>
  <link th:href="@{bootstrap-5.0.2-dist/css/bootstrap-reboot.css.map}" rel="stylesheet"/>
  <link th:href="@{bootstrap-5.0.2-dist/css/bootstrap-reboot.min.css.map}" rel="stylesheet"/>
  <link th:href="@{bootstrap-5.0.2-dist/css/bootstrap-reboot.rtl.css}" rel="stylesheet"/>
  <link th:href="@{bootstrap-5.0.2-dist/css/bootstrap-reboot.rtl.css.map}" rel="stylesheet"/>
  <link th:href="@{bootstrap-5.0.2-dist/css/bootstrap-reboot.rtl.min.css}" rel="stylesheet"/>
  <link th:href="@{bootstrap-5.0.2-dist/css/bootstrap-reboot.rtl.min.css.map}" rel="stylesheet"/>
  <link th:href="@{bootstrap-5.0.2-dist/css/bootstrap-utilities.css}" rel="stylesheet"/>
  <link th:href="@{bootstrap-5.0.2-dist/css/bootstrap-utilities.css.map}" rel="stylesheet"/>
  <link th:href="@{bootstrap-5.0.2-dist/css/bootstrap-utilities.min.css}" rel="stylesheet"/>
  <link th:href="@{bootstrap-5.0.2-dist/css/bootstrap-utilities.min.css.map}" rel="stylesheet"/>
  <link th:href="@{bootstrap-5.0.2-dist/css/bootstrap-utilities.rtl.css}" rel="stylesheet"/>
  <link th:href="@{bootstrap-5.0.2-dist/css/bootstrap-utilities.rtl.css.map}" rel="stylesheet"/>
  <link th:href="@{bootstrap-5.0.2-dist/css/bootstrap-utilities.rtl.min.css}" rel="stylesheet"/>
  <link th:href="@{bootstrap-5.0.2-dist/css/bootstrap-utilities.rtl.min.css.map}" rel="stylesheet"/>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

</head>
<body>

<nav th:fragment="navbar" class="d-flex sb-topnav navbar navbar-expand navbar-dark bg-secondary">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">

      <li><h2 class="nav-link px-2 link" style="font-weight:bold;color:black;font-family: ui-monospace;">
           UNOPOINT MAPPING</h2></li>
    </ul>


  </header>
</nav>

</body>
</html>